<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:47:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_241Test@206a70ef]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:49:26</td>   <td>115762</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_242Test@292b08d6]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:50:44</td>   <td>194010</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_243Test@22555ebf]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:52:12</td>   <td>281941</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_244Test@36ebc363]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:53:31</td>   <td>360749</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_245Test@45752059]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:54:46</td>   <td>435520</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_246Test@34e9fd99]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:55:32</td>   <td>481649</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_247Test@3c41ed1d]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:57:18</td>   <td>588294</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_248Test@54d9d12d]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:58:51</td>   <td>680413</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_249Test@38425407]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:46:07</td>   <td>-83313</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_241Test@206a70ef]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:47:32</td>   <td>2085</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_242Test@292b08d6]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:49:28</td>   <td>117846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_243Test@22555ebf]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:50:46</td>   <td>196361</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_244Test@36ebc363]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:52:14</td>   <td>284173</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_245Test@45752059]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:53:33</td>   <td>362875</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_246Test@34e9fd99]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:54:48</td>   <td>437604</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_247Test@3c41ed1d]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:55:32</td>   <td>482030</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_248Test@54d9d12d]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:57:19</td>   <td>588759</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_249Test@38425407]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:46:13</td>   <td>-76952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_241Test@206a70ef]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:47:35</td>   <td>4630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_242Test@292b08d6]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:49:30</td>   <td>120323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_243Test@22555ebf]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:50:49</td>   <td>198888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_244Test@36ebc363]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:52:17</td>   <td>286767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_245Test@45752059]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:53:36</td>   <td>365459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_246Test@34e9fd99]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:54:51</td>   <td>440579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_247Test@3c41ed1d]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:55:35</td>   <td>484661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_248Test@54d9d12d]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>19/10/15 16:57:22</td>   <td>591484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_249Test@38425407]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/10/15 16:51:33</td>   <td>242643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_244Test.displayNewDeviceDetails()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_244Test@36ebc363]">displayNewDeviceDetails</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/10/15 16:53:01</td>   <td>330864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_245Test.f()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_245Test@45752059]">f</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>19/10/15 16:54:16</td>   <td>406174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_246Test.f()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_246Test@34e9fd99]">f</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="fdc0b0">  <td>19/10/15 16:55:32</td>   <td>481646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_247Test.f()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_247Test@3c41ed1d]">f</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/10/15 16:58:00</td>   <td>629878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_249Test.f()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_249Test@38425407]">f</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>19/10/15 16:56:18</td>   <td>527745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_248Test.verifyAutoPopulatedDetails()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_248Test@54d9d12d]">verifyAutoPopulatedDetails</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/10/15 16:47:00</td>   <td>-29934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_241Test.verifyDeviceRegistrationIsAutogenerated()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_241Test@206a70ef]">verifyDeviceRegistrationIsAutogenerated</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>19/10/15 16:50:14</td>   <td>164357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_243Test.verifyFieldsInDeviceREgistartionPage()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_243Test@22555ebf]">verifyFieldsInDeviceREgistartionPage</td> 
  <td>main@1628998132</td>   <td></td> </tr>
<tr bgcolor="6fa38a">  <td>19/10/15 16:48:31</td>   <td>60698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_242Test.verifyUniqueDeviceCode()[pri:0, instance:com.forsenteva.testscripts.sprint3.Eva_CCA_Onboard_Patient_242Test@292b08d6]">verifyUniqueDeviceCode</td> 
  <td>main@1628998132</td>   <td></td> </tr>
</table>
