<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e4beb6">  <td>19/10/11 15:20:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint1.Eva_CCA_Onboard_Patient_083Test@77fbd92c]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@331994761</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>19/10/11 15:20:20</td>   <td>4164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint1.Eva_CCA_Onboard_Patient_083Test@77fbd92c]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@331994761</td>   <td></td> </tr>
<tr bgcolor="9e73df">  <td>19/10/11 15:21:12</td>   <td>56351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_CCA_Onboard_Patient_083Test.verifyFieldsDisplay()[pri:0, instance:com.forsenteva.testscripts.sprint1.Eva_CCA_Onboard_Patient_083Test@77fbd92c]">verifyFieldsDisplay</td> 
  <td>main@331994761</td>   <td></td> </tr>
<tr bgcolor="e4beb6">  <td>19/10/11 15:21:22</td>   <td>66589</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint1.Eva_CCA_Onboard_Patient_083Test@77fbd92c]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@331994761</td>   <td></td> </tr>
</table>
